nav {
    background-color: #234e70;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 25px 0 black;
    position: fixed;
    overflow-y: hidden;
    border-radius: .5%;
    z-index:1; 
    
  }
  .main {
    margin-top: 30px; /* Add a top margin to avoid content overlay */
  }
  
  a {
    font-weight: 700;
    margin: 0 25px;
    color: #FBF8BE;
    text-decoration: none;
    padding : 0 50px 0 50px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  }

  
  a:hover {
    padding-bottom: 5px;
    box-shadow: inset 0 -2px 0 0 #dbd6d6;
  }
  img {
    height:300px;
}

body {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

body {
    margin:0;
    padding: 0;
}

.centered {
    text-align: center
}

.lcolumn {
    flex: 1; /* Grow and shrink to occupy available space */
    text-align: left; /* Align text to the left */
}

.column {
    flex: 1; /* Grow and shrink to occupy available space */
    text-align: center; /* Center text */
    
}

.rcolumn {
    flex: 1; /* Grow and shrink to occupy available space */
    text-align: right; /* Align text to the right */
}

.help-button {
    background-color: rgb(68, 139, 231);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 35px;
}

.general_button {
    background-color: rgb(68, 139, 231);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.general_button:hover {
    color: rgb(34, 233, 140)
}

.help-button:hover {
    color: rgb(34, 233, 140)
}

.container {
    display: flex;
    width: 100%;
}

.content {
    flex: 1; /* Allow content to take up remaining space */
    padding: 20px;
    margin-top: 40px;
}

.sidebar {
    background-color: #234E70;
    color: #FBF8BE;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%; 
    overflow-y: auto; /* Add vertical scroll if content overflows */
    margin-top: 40px;
}

/* Style for each form */
form {
    margin: 10px 0; /* Add spacing between forms */
}

label, input {
    display: block; /* Place label and input elements on separate lines */
} 

.standard {
    color:blue
}



    .login-form {
        border: 3px solid #f1f1f1;
        background-color: #f1f1f1;
    }

    .avatar {
        width: 20%;
        border-radius: 100%;
        margin-right: 80%;
    }

    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
    }

    .loginbutton {
        width: auto;
        background-color: #FBF8BE;
        padding: 20px;
        color: black;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.row {
    display: flex;
}

.splitcol {
    flex: 50%
}

.entrybox {
    width: 50%;
}