*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.title{
    color: white;
    position: relative;
    left: -3%;
}

.logo {
    width: 10%;
}

.mainslide {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #fff;
    background: linear-gradient(454deg, navy, black)
}

.slides {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #fff;
}

.slides img {
    width: 350px;
}

.slides h2 {
    font-size: 70px;
    font-weight: 600;
    max-width: 650px;
}

.slide1 {
    background: url(background.jpg);
    /*background: linear-gradient(454deg, navy, black)*/
}

/*
nav {
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0;
    background-color:  #234E70;
    z-index: 100;
    position: fixed; 
    top: 0;
    width: 100%;
  }
*/


  
a {
    font-weight: 700;
    margin: 0 25px;
    color: #FBF8BE;
    text-decoration: none;
  }
  
a:hover {
    padding-bottom: 5px;
    box-shadow: inset 0 -2px 0 0 #dbd6d6;
  }

body {
    margin:0;
    padding: 0;
}

.centered {
    text-align: center
}

.lcolumn {
    flex: 1; /* Grow and shrink to occupy available space */
    text-align: left; /* Align text to the left */
}

.column {
    flex: 1; /* Grow and shrink to occupy available space */
    text-align: center; /* Center text */
    
}

.rcolumn {
    flex: 1; /* Grow and shrink to occupy available space */
    text-align: right; /* Align text to the right */
}

.help-button {
    background-color: rgb(68, 139, 231);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    width: 35px;
}

.general_button {
    background-color: rgb(68, 139, 231);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.general_button:hover {
    color: rgb(34, 233, 140)
}

.help-button:hover {
    color: rgb(34, 233, 140)
}

.content {
    flex: 1; /* Allow content to take up remaining space */
    padding: 20px;
    margin-top: -20px;
}

/* Style for each form */
form {
    margin: 10px 0; /* Add spacing between forms */
}

label, input {
    display: block; /* Place label and input elements on separate lines */
} 

.standard {
    color:blue
}



    .login-form {
        border: 3px solid #f1f1f1;
        background-color: #f1f1f1;
    }

    .avatar {
        width: 20%;
        border-radius: 100%;
        margin-right: 80%;
    }

    button {
        position:relative;
        right: 100%;
    }

    .loginbutton {
        width: auto;
        background-color: #FBF8BE;
        padding: 20px;
        color: black;
    }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.row {
    display: flex;
}

.splitcol {
    flex: 50%
}
