.cost{
    position: relative;
}
.sub{
    margin: 0;
    background-color: aliceblue;
    display: inline-block;
    border: 5px solid #de7878;
    padding: 25px;   
    position: relative;
    z-index: -1;
    margin: 25px;
}